@import "colors";
@import "fonts";

.body {
  background-color: $turners-grey;
  padding: 1%;
  font-family: $pathway-extreme;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--subhead {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__form--submit {
    margin-left: 3vw;
    color: white;
    background-color: $turners-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__result {
    color: white;
    text-align: center;

    &--images {
      display: flex;
      align-items: center;
      width: 40vw;
      justify-content: space-evenly;
    }
  }
}
